* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #ffffff;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
}


.buttons {
  margin-top: 20px;
}

.btn {
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 6px;
  margin-right: 10px;
}

.primary {
  background: #6a0dad;
  color: white;
}

.secondary {
  border: 2px solid #6a0dad;
  color: #6a0dad;
}

/* SECTIONS */
.section {
  padding: 50px;
  text-align: center;
}

.skill-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.skill-list li {
  background: #eee;
  padding: 10px 15px;
  border-radius: 6px;
}

.project-card {
  background: #f5f5f5;
  margin: 15px auto;
  padding: 15px;
  width: 300px;
  border-radius: 8px;
}

/* FOOTER */
footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 15px;
}
