body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: green;
  color: white;
  padding: 20px;
}

section {
  margin: 20px;
}

footer {
  background: black;
  color: white;
  padding: 10px;
}
